{% extends 'layout.html' %}

{% block body %}

<div class="centered col-md-7">
<!--    image url : {{ image_url }}-->
    <h2>Looks like it's a <strong>{{ prediction }}!</strong></h2>
    <header> <strong>Input image :</strong> </header>
    <img src="{{image_url}}" alt="Input image">
    <header> <strong>Prediction probabilities :</strong> </header>
    {{ plot_div|safe }}
</div>

<script src="http://cdn.pydata.org/bokeh/release/bokeh-2.0.2.min.js"></script>
<script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.0.2.min.js"></script>

{{ plot_script|safe }}

{% endblock %}